*{
    box-sizing: border-box;
}
body{
    margin: 20px;
    padding: 0;
}
h1{
    background-color: rgba(117, 117, 117, 0.718);
    padding: 20px;
    margin-bottom: 0px;
    text-align: center;
}
ul{
    list-style-position: inside;
}
.nav_header {
    text-align: center;
    background-color: rgb(202, 202, 202);
    margin-top: 0px;
    padding: 20px 0px 20px 0px;
}
main{
    background-color: rgb(68, 66, 66);

}
article{
    margin: 25px;
    display: inline-block;
    width: 65%;
    height: 510px;
    background-color: gray;
}
.article_section{
    width: 97%;
    background-color: white;
    border: 5px solid rgba(103, 103, 45, 0.734);
    padding: 10px;
    margin: 15px;
}

#align {
    text-align: center;
}
.image_placeholder {
    width: 31%;
    height: 15em;
    margin-left: 7.5px;
    margin-right: 7.5px;
    border: 5px solid rgba(103, 103, 45, 0.734);
    display: inline-block;
    background-color: #e0e0e0;
    text-align: center;
}
img{
    max-width: 100%;
    max-height: 100%;
}

aside{

    background-color: rgb(136, 136, 136);
    display: inline-block;
    width: 29%;
    height: 510px;
    vertical-align: top;
    margin: 25px 25px 25px 0px;
}

.title_h2_aside{
    font-size: 30px;
    font: bold;
    background-color: white;
    margin: 15px;
    border: 5px solid rgba(103, 103, 45, 0.734);
    text-align: center;
    padding: 15px;
}

.ul_aside{
    font-size: 22px;
    background-color: white;
    border: 5px solid rgba(103, 103, 45, 0.734);
    margin: 15px;
    padding-left: 15px;
    padding-top: 10px;
    height: 387px;

}

footer{
    margin-top: 20px;
    background-color: rgb(202, 202, 202);
    text-align: center;
    padding: 30px 10px 5px 10px;
    
}
a:active, a:visited {
    color: black;
    text-decoration: none;
}

footer img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}